@page "/C_car"
@inject CarBLL carBLL

<EditForm Model="car">
    <DataAnnotationsValidator />
    <div class="card ">
        <div class="card-header">
            <h4>Consulta de Autos</h4>
        </div>
    </div>
    <div class="card-body bg-white">
        <form>
            <div class="row">
                <div class="col">
                    <label>Filtro</label>
                    <select class="form-control" @bind="Filtro">
                        <option value="0">Filtrar todo</option>
                        <option value="1">CarroId</option>
                        <option value="2">Marca</option>
                        <option value="3">Modelo</option>
                        <option value="4">Matricula</option>
                        <option value="5">Precio</option>
                        <option value="6">Descripción</option>
                    </select>
                </div>
                <div class="col">
                    <div class="input-group d-flex align-items-end">
                        <label>Buscar</label>
                        <div class="input-group">
                            <input type="text" class="form-control" @bind="Criterio" />
                            <button type="button" class="btn btn-info" @onclick="Buscar">
                                <i class="oi oi-magnifying-glass" /> Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover mt-4 table-striped" style="cursor: pointer;">
            <thead class="thead-green">
                <tr class="table-info">
                    <th>CarId</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Matricula</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.CarId</td>
                        <td>@item.Marca</td>
                        <td>@item.Modelo</td>
                        <td>@item.Matricula</td>
                        <td>@item.Precio</td>
                        <td>@item.Fecha</td>
                        <td>@item.Descripcion</td>
                        <td><a href="R_car/@item.CarId">Ver</a></td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    public Car car { set; get; } = new Car();
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<Car> lista { get; set; } = new List<Car>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void Buscar()
    {
        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "0":
                    lista = carBLL.GetCar(o => true);
                    break;
                case "1":
                    if (Criterio != null)
                    {
                        lista = carBLL.GetCar(o => o.CarId.ToString() == (Criterio));
                    }
                    else
                    {
                        lista = carBLL.GetCar(o => true);
                    }
                    break;

                case "2":
                    if (Criterio != null)
                    {
                        lista = carBLL.GetCar(o => o.Marca.ToLower().Contains(Criterio.ToLower()));
                    }
                    else
                    {
                        lista = carBLL.GetCar(o => true);
                    }
                    break;

                case "3":
                    if (Criterio != null)
                    {
                        lista = carBLL.GetCar(o => o.Modelo.ToLower().Contains(Criterio.ToLower()));
                    }
                    else
                    {
                        lista = carBLL.GetCar(o => true);
                    }
                    break;

                case "4":
                    if (Criterio != null)
                    {
                        lista = carBLL.GetCar(o => o.Matricula.ToLower().Contains(Criterio.ToLower()));
                    }
                    else
                    {
                        lista = carBLL.GetCar(o => true);
                    }
                    break;

                case "5":
                    if (Criterio != null)
                    {
                        lista = carBLL.GetCar(o => o.Precio.ToString() == (Criterio));
                    }
                    else
                    {
                        lista = carBLL.GetCar(o => true);
                    }
                    break;

                case "6":
                    if (Criterio != null)
                    {
                        lista = carBLL.GetCar(o => o.Descripcion.ToLower().Contains(Criterio.ToLower()));
                    }
                    else
                    {
                        lista = carBLL.GetCar(o => true);
                    }
                    break;


            }
        }
        else
        {
            lista = carBLL.GetCar(o => true);
        }
    }

}
